<footer>
    <div class="about-us">
      <h4>Doctor Sahab</h4>
      <p>Doctor Sahab is an online healthcare platform that connects patients with doctors for physical and online consultations.
        We also offer a convenient medicine ordering service, delivering healthcare to your doorstep with ease and trust.</p>
      <div class="social-media">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>

    <div class="useful-links">
      <h6>Useful Links</h6>
      <ul>
        <li>About Us</li>
        <li>Privacy Policy</li>
        <li>Our Mission</li>
        <li>Our Team</li>
      </ul>
    </div>

    <div class="address">
      <h6>Address</h6>
      <div class="address-map">
        <img src="/media/image.png" alt="">
      </div>

    </div>
  </footer>